REACT_NATIVE_PACKAGER_HOSTNAME=192.168.1.83

# Expo web dev proxy
# EXPO_PUBLIC_USE_DEV_PROXY=true
# EXPO_PUBLIC_SOUNDTOUCH_PROXY_BASE_URL=http://localhost
# EXPO_PUBLIC_SOUNDTOUCH_PROXY_PORT=4100
# EXPO_PUBLIC_SOUNDTOUCH_PROXY_PATH=/proxy?url=